@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --burdeo: #47141D;
  --pink: #EF4665;
  --cream: #FFEABD;
}
html,
body,
#__next {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}