@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --burdeo: #47141d;
  --pink: #ef4665;
  --cream: #ffeabd;
  --blue: #001f3f;
  --turquesa: #00ced1;
}

html {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, var(--burdeo), var(--blue));
  background-repeat: no-repeat;
}
