@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --burdeo: #47141D;
  --pink: #EF4665;
  --cream: #FFEABD;
  --azul: #001F3F;
}
html,
body,
#__next {
  min-height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--azul);
}

main {
  margin: 0 1.25rem;
}